<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

- List popular languages for Data Science
- List commonly used libraries for Data Science 
- List commonly used tools for Data Science
- Few Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. Numpy
4. Matplotlib
5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Apache Spark      |
|TensorFlow        |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

<h2>Author</h2>
Mounika Shree N G